.section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40rem;
    padding: 9rem 0;
    margin-bottom: 2rem;
    background-color: white;
}
.section.dark{
    background-color: rgb(38, 38, 41);
}

.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 23rem;
}

.title,
.subTitle,
.description{
    width: 100%;
    color: rgb(85, 95, 115);
    text-align: end;
    word-break: keep-all;
}

.title{
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 500;
}
.title.dark{
    color: white;
}

.subTitle{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 300;
}
.subTitle.dark{
    color: white;
}

.description{
    font-size: 0.8rem;
    font-weight: 300;
}

.description.dark{
    color: white;
}