.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.5rem 0 3rem 0;
    margin-bottom: 2rem;
    background-color: white;
}

.title{
    font-size: 1.5rem;
    color: rgb(85, 95, 115);
    margin-bottom: 0.3rem;
}
.title.dark{
    color: white;
}

.description{
    font-size: 0.7rem;
    margin-bottom: 1.7rem;
}
.description.dark{
    font-size: 0.7rem;
    color: white;
}

.chart1{
    display: flex;
    align-items: center;
    justify-content: center;
}


