.container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 25.5rem;
    overflow-y: hidden;
}

.accountList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem 1.5rem;
}