.bar{
    flex: 1 1 auto;
    position: relative;
    width: 10px;
    border: 1px solid white;
    border-bottom: none;
    background-color: rgb(103, 143, 243);
    transition: all ease-in 100ms;
    opacity: 0.7;
}
.bar.hide{
    display: none;
}
.bar.dark{
    border: 1px solid rgb(38, 38, 41);
    border-bottom: none;
}
.bar.hover{
    opacity: 1;
    border: 1px solid black;
    border-bottom: none;
}
.bar.dark.hover{
    border: 1px solid white;
    border-bottom: none;
}

.detail{
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -11rem;
    left: 0;
    width: 12rem;
    padding: 1.5rem 1rem;
    border: 1px solid rgb(0, 119, 255);
    border-radius: 5px;
    background-color: white;
    transition: all ease-in 100ms;
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
}
.detail.hover{
    transform: scale(1);
    opacity: 1;
}

.tag{
    font-weight: 100;
    font-size: 0.8rem;
    color:rgb(32, 99, 207);
}
.title{
    font-size: 0.8rem;
    font-weight: 700;
    border-bottom: 0.5px solid grey;
    margin-bottom: 0.5rem;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 100;
}

@media screen and (max-width: 45rem) {
    .detail{
        left: -6rem;
    }
}