.btn{
    border: 2px solid white;
    border-radius: 13px;
    padding: 0.3rem 2rem;
    color: white;
    font-weight: 700;
    background-color: transparent;
}

.btn:hover{
    border: 2px solid rgb(85, 95, 115);
    color: rgb(85, 95, 115);;
    background-color: white;
    transition: all ease-in 100ms;
}