.btn{
    position: relative;
    width: 1.2rem;
    height: 1.2rem;
}

.sun,
.moon{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.2rem;
    color: rgb(125, 125, 125);
    transform: translate(-50%, -50%) scale(0) rotateZ(-180deg);
    transition: all ease-in 400ms;
    opacity: 0;
}

.sun.active,
.moon.active{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) rotateZ(0deg);
}