.chart{
    position: relative;
    display: flex;
    align-items:flex-end;
    width: 16rem;
    height: 16rem;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 0 0 0 3px;
}

.canvas{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    pointer-events: none;
}