.line{
    width: 10px;
    height: 10px;
    margin-right: auto;
    border: 2px solid white;
    border-radius: 50%;
    background-color: rgb(103, 143, 243);
    /* transition: all ease-in 100ms; */
}

.line.hide{
    display: none;
}