.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 3rem;
    height: 16rem;
}
.list{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
    overflow-y: scroll;
}
.list::-webkit-scrollbar{
    visibility: hidden;
}

.upBtn{
    pointer-events: none;
    padding-bottom: 0.5rem;
}
.downBtn{
    pointer-events: none;
    padding-top: 0.5rem;
}

.upBtn.dark,
.downBtn.dark{    
    color:white;
}