@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.app{
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100vw - (100vw - 100%));
    background-color: rgb(236, 236, 236);
}
.app.dark{
    background-color: rgb(33, 33, 36);
}