@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.app{
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100vw - (100vw - 100%));
}
.app.dark{
    background-color: rgb(38, 38, 41);
}

.appTitle{
    font-weight: 300;
    font-size: 1.5rem;
}
.appTitle.dark{
    color: white;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    padding: 0 20%;
}
.header.dark{
    border-bottom: 0.5px solid rgb(82, 82, 82);
}

.signInSec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(85, 95, 115);
    width: 100%;
    padding: 4rem 0;
}
.signInSec.dark{
    border-bottom: 0.5px solid rgb(82, 82, 82);
    background-color: transparent;
}

.signInSec .title{
    color: white;
    margin-bottom: 0.3rem;
}
.signInSec .description{
    font-size: 0.7rem;
    color: white;
    margin-bottom: 1rem;
}

.accountSec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 4rem 0 7.5rem 0;
}
.accountSec.dark{
    border-bottom: 0.5px solid rgb(82, 82, 82);
}

.accountSec .title{
    font-size: 1.5rem;
    color: rgb(85, 95, 115);
    margin-bottom: 0.3rem;
}
.accountSec .description{
    font-size: 0.7rem;
    margin-bottom: 1.7rem;
}
.accountSec .title.dark{
    color: white;
}
.accountSec .description.dark{
    font-size: 0.7rem;
    color: white;
}

.detailSec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 4rem 0 7.5rem 0;
}
.detailSec .title{
    font-size: 1.5rem;
    color: rgb(85, 95, 115);
    margin-bottom: 0.3rem;
}
.detailSec .title.dark{
    color: white;
}
.detailSec .description{
    font-size: 0.7rem;
    margin-bottom: 1.7rem;
}
.detailSec .description.dark{
    font-size: 0.7rem;
    color: white;
}

.chart1{
    display: flex;
    align-items: center;
    justify-content: center;
}


