.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(85, 95, 115);
    width: 100%;
    padding: 4rem 0;
    margin-bottom: 2rem;
}
.section.dark{
    /* border-bottom: 0.5px solid rgb(82, 82, 82); */
    background-color: rgb(38, 38, 41);
}

.title{
    color: white;
    margin-bottom: 0.3rem;
}

.description{
    font-size: 0.7rem;
    color: white;
    margin-bottom: 1rem;
}