.btn{
    position: relative;
    width: 15rem;
    height: 3rem;
    padding: 0.3rem 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(71, 72, 80);
    background-color: rgba(255, 255, 255, 0.485);
    transition: all ease-in 200ms;
}
.btn:hover{
    transform: scale(1.05);
}
.title{
    z-index: 1;
    position: relative;
}

.cover{
    position: absolute;
    top:0;
    left:0;
    width: 0%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    transition: all ease-in 200ms;
}
.cover.active{
    width: 100%;
}
.cover.dark.active{
    background-color: rgb(212, 219, 225);
}